@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

:root {
  --clr-Very-Dark-Gray: hsl(0, 0%, 17%);
  --clr-Dark-Gray: hsl(0, 0%, 59%);
  --fw-5: 500;
  --fw-7: 700;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: url("/images/pattern-bg-mobile.png") no-repeat;
  background-size: 100% 300px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

h1 {
  color: white;
  padding-top: 1.5rem;
}

form {
  border-radius: 1rem;
  margin-block: 1.5rem;
  display: flex;
  width: min(90%, 560px);
  margin-inline: auto;
}

input {
  padding-left: 1rem;
  border-radius: 1rem 0 0 1rem;
  border: none;
  flex: 1;
  outline: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: var(--clr-Very-Dark-Gray);
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
}

button:hover {
  opacity: 0.75;
}

.panel {
  width: min(90%, 1110px);
  border-radius: 1rem;
  background-color: #fff;
  margin: 1rem auto;
  padding: 1rem;
  z-index: 20;
}

.panel div {
  margin-block: 1rem;
  font-weight: var(--fw-5);
}

.name {
  color: var(--clr-Dark-Gray);
  text-transform: uppercase;
  font-size: 0.8em;
}

.value {
  color: var(--clr-Very-Dark-Gray);
  font-size: 1.6em;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 300px;
  z-index: -2;
}

@media (width > 700px) {
  .panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 1.5rem;
    margin-top: 3rem;
  }
  body {
    background: url("/images/pattern-bg-desktop.png") no-repeat;
    background-size: 100% 280px;
  }
  .leaflet-container {
    top: 280px;
  }
  .value {
    margin-top: 1.5rem;
  }
  .panel div:not(:last-of-type) {
    border-right: 1px solid var(--clr-Dark-Gray);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 10%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
